
.chart-container {
  display: flex;
  align-items: flex-end;
  margin: 20px;
  padding: 10px;
}

.y-axis {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 3%;
  height: 200px;
  margin-right: 10px;
}

.y-label {
  text-align: right;
  margin-right: 5px;
}

.chart {
  display: flex;
  /* justify-content: space-around; */
  align-items: flex-end;
  height: 200px;
  /* border: 1px solid #ccc; */
  padding: 10px;
  width: 100%;
  gap: 2%;
  border-left: 1px solid #ccc;
}

.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar-inner {
  width: 30px;
  background-color: #4caf50;
  transition: height 0.3s ease-in-out;
  text-align: center;
  margin-bottom: 1rem;
}

.label {
  margin-top: 5px;
}
.hr{
  width: 30%;
  border-top: 1px solid #ccc;
  position: absolute;
  transform: translate(0, -36px);
}

.button {
  border: none;
  outline: none;
  background: #4681f4;
  padding: 0.6rem;
  color: #fff;
  font-size: 1rem;
  margin-left: 1.2rem;
}

